<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Web App</title>
    <link rel="stylesheet" href="./styles/card.css">   
</head>
<body>
    <div class="card">
        <figure>
            <img class="card__image" src="../../assets/demo1.png">
        </figure>
        <div>
            <h3 class="card__title">Lorem Ipsum</h3>
            <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae laboriosam debitis ipsum incidunt cumque magni modi omnis aperiam ut, itaque sit sint obcaecati necessitatibus nostrum, reprehenderit distinctio quibusdam! Sequi.</p>
            <button class="button">Read More</button>
        </div>
    </div>
</body>
</html>