@import './reset';
@import './fonts.scss';
@import './colors.scss';

* {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
    font-family: $primary-font;
}

.footer {
    background-color: $gray-color;
}