<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/headings.css">
</head>
<body>
    <section class="heading">
        <div class="wrapper">
            <h2 class="heading__title">About Gamma</h2>
        </div>
    </section>

    <section class="heading">
        <div class="wrapper">
            <h2 class="heading__title">Contact Us</h2>
        </div>
    </section>
</body>
</html>