.features {
    background-color: $green-color;
    color: $white-color;
    padding: 40px 0 20px;
    font-size: 18px;

    &__title {
        font-size: 30px;
    }

    &__points {
        padding: 10px 0;
        font-weight: 700;

        &__item {
            padding: 5px 0;
            &::before {
                content: "✓";
                margin-right: 5px;
            }
        }
    }
}