.footer {
    background-color: $gray-color;
    color: $white-color;
    padding: 20px 0;

    &__wrapper {
        @include media(mobile) {
            @include flex(flex, column, center, center, center);
        }
        @include media(tablet) {
            @include flex(flex, column, center, center, center);
        }
        @include media(desktop) {
            @include flex(flex, row, space-between, center, center);
        }
    }    
        
    &__menu {
        display: flex;
        flex-direction: row;
        
        &__item {
            padding: 0 7px;
        }
    }
    
    &__trademark {
        padding-top: 20px;

        @include media(desktop) {
            padding-top: 0;
        }
    }
}