.footer {
    background-color: $gray-color;
    color: $white-color;
    @include flex(flex, column, center, center, center);
    padding: 20px;
    
    &__menu {
        @include flex(flex, row, center, center, center);
        flex-wrap: wrap;
        
        &__item {
            padding: 0 7px;
        }
    }
    
    &__trademark {
        padding-top: 20px;

        @include media(desktop) {
            padding-top: 0;
        }
    }
}