* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
}

.card {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 25px 15px;
}

.card__image {
    width: 100%;
}

.card__title {
    margin-top: 30px;    
}

.card__text {
    padding: 15px 0;
}

.card__button {
    background-color: white;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 10px 15px;
}