@import './reset';
@import './fonts.scss';
@import './colors.scss';

body {
    padding: 20px;
    font-family: $primary-font;
}

.card {
    border: 1px solid $lightgray-color;
    border-radius: 5px;
    padding: 15px 15px 20px 15px;
}

.card__image {
    width: 100%;
}

.card__title {
    margin-top: 25px;
}

.card__text {
    padding: 15px 0;
    font-size: $content-size;
    line-height: $content-line_height;
}

.card__button {
    background-color: $white-color;
    border: 1px solid $lightgray-color;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.card__button:hover {
    background-color: $lightgray-color;
}