<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Web App</title>
    <link rel="stylesheet" href="./styles/features.css">    
</head>
<body>
    <section class="features">
        <div class="features__list">
            <h2 class="features__title">Gamma Features</h2>
            <ul class="features__points">
                <li class="features__points__item">harlatanistic</li>
                <li class="features__points__item">unembattled</li>
                <li class="features__points__item">bleekbok</li>
                <li class="features__points__item">overtipple</li>
                <li class="features__points__item">empathically</li>
            </ul>
        </div>
        <img class="features__logo" src="./assets/logo.png">
    </section>
</body>
</html>