@import '../../../styles/sass/global/colors';
@import '../../../styles/sass/global/mixins';
@import '../../../styles/sass/global/reset';
@import '../../../styles/sass/global/vars';

.heading {
    background-color: $green-color;
    
    &__title {
        color: $white-color;
        font-size: 40px;
        padding: 20px 0 10px;
    }
}