@import './vars';

@mixin flex($display, $direction, $justify, $align, $text-align) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    text-align: $text-align;
}

@mixin media($media) {
    @if $media == mobile {
        @media (max-width: $tablet-size) {
            @content;
        }
    }
    @else if $media == tablet {
        @media (min-width: $tablet-size) and (max-width: $desktop-size) {
            @content; 
        }
    }
    @else if $media == desktop {
        @media (min-width: $desktop-size) {
            @content;
        }
    }
}