@import '../../../styles/sass/global/button';
@import '../../../styles/sass/global/colors';
@import '../../../styles/sass/global/fonts';
@import '../../../styles/sass/global/mixins';
@import '../../../styles/sass/global/reset';
@import '../../../styles/sass/global/vars';

.card {
    @include border(1px, solid, $lightgray-color);
    border-radius: 5px;
    padding: 15px 15px 20px 15px;

    &__image {
        width: 100%;
    }

    &__title {
        margin-top: 25px;
    }

    &__text {
        padding: 15px 0;
    }    
}