@import '../../../styles/sass/global/button';
@import '../../../styles/sass/global/colors';
@import '../../../styles/sass/global/fonts';
@import '../../../styles/sass/global/mixins';
@import '../../../styles/sass/global/reset';
@import '../../../styles/sass/global/vars';
@import '../../../styles/sass/global/wrapper';

.form {
    display: flex;
    flex-direction: column;

    &__label {
        padding-bottom: 10px;
        font-weight: bold;
    }

    &__input, &__textarea {
        @include border(2px, solid, $lightgray-color);
        padding: 10px;
        color: $lightgray2-color;
        margin-bottom: 15px;
        border-radius: 5px;
        font-family: inherit;

        &::placeholder {
            color: $lightgray2-color;
        }
    }
}

.button {
    width: max-content;
}
